<div id='landing_container'>
  <img width = 200px src='/assets/shards.png'>
  <div class='flex_column'>
    <a href='/transactions/new'> Add Transaction</a>
    <hr></hr>
    <a href='/transactions'> View Transaction Summary</a>
  </div>
</div>
