<html>
  <head>
    <link rel="stylesheet" type="text/css" href="\style.css">
  </head>
  <body>
    <div class = 'flex-aligner'>
      <div class = 'flexbox' id = 'nav_bar'>
        <nav>
          <a href = '/'> Landing Page </a>
          <a href = '/transactions'> Transaction Index </a>
          <a href = '/transactions/new'> Create New Transaction</a>
          <a href = '/tags'> Tag Index </a>  
          <a href = '/tags/new'> Create New Tag</a>  
          <a href = '/vendors'> Vendor Index </a>  
          <a href = '/vendors/new'> Create New Vendor </a>  
        </nav>
      </div>
      <div class = flexbox id='yield'>
        <%= yield %> 
      </div>
    </div>
  </body>
</html>
