<html>
  <head>
    <link rel="stylesheet" type="text/css" href="\style.css">
    <link rel="icon" href="/assets/shards.ico"/>
    <title>Shrapnel Tracker</title>
  </head>
  <body>
      <div class = 'nav_bar'>
          <ul class='navbar_list'>
          <li><a href = '/'> Homepage </a></li>
          <li><a href = '/transactions'> Transactions </a></li>
          <li><a href = '/tags'> Tags </a></li>
          <li><a href = '/vendors'> Vendors </a></li>
          </ul>
      </div>
      <div class = remaining id='yield'>
          <%= yield %> 
      </div>

  </body>
</html>
