<html>
  <head>
    <link rel="stylesheet" type="text/css" href="\style.css">
  </head>
  <body>
    <div class = 'flex-aligner'>
      <div class = 'flexbox' id = 'nav_bar'>
        <nav>
          <a href = '/'> Landing Page </a>
          <a href = '/transactions/'> Transaction Index </a>
          <a href = '/tags/'> Tag Index </a>  
        </nav>
      </div>
      <div class = flexbox id='yield'>
        <%= yield %> 
      </div>
    </div>
  </body>
</html>
