<div class='contentbox'>
<h2> Edit vendor </h2>
<form action='/vendors/<%= @vendor.id%>/edit' method='POST'>
  <label for='name'> Name: </label>
  <input type='text' pattern=".{3,15}" required title="3 to 15 characters" name='name' id='name'>
  <input type='submit' value='Update'>
</form>
</div>
