<div class='contentbox'>
  <h2> Create new vendor </h2>
  <form action='/vendors' method='POST'>
    <label for='name'> Name: </label>
    <input type='text' pattern=".{3,20}" required title="3 to 20 characters" name='name' id='name'>
    <input type='submit' value='Create'>
  </form>
  <div class = 'indexline' id='bottbutts'> 
    <form action = '/vendors', method='GET'>
        <input width = 30px type = 'image' src='/assets/back.png'>
      </form>
  </div>
</div>

