/*
like it? | #FBFBF3
cornflower sky | #758698
Alcest blue | #396884
navigator | #1d2d47
civil shadow | #0D0E23
 */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

body {
  font-family: 'Spectral SC', serif;
  margin: 0px;
  box-sizing: border-box;
  color: #1D2D47;
  background-image: linear-gradient(to right, #1d2d47 , #396884);
  min-width: 1280px;
}


.contentbox{
  background-color: #FBFBF3;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transcard td{
padding: 10px;
}

#yield {
}

a {
  text-decoration: none;
  color:#1D2D47 ;
}

a:hover {
 color:#758698;
}

#nav_bar a{
  margin: 10px;
}

.bottom_icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.nav_bar {
  background-color: transparent;  
  background-image: url('/assets/shrapnelbox2.png');
  background-size: contain;
  height: 100%;
  width: 260px;
  background-repeat: no-repeat;
  position: fixed; z-index: 1; top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-left: 0px;
  padding-top: 250px;
}

.navbar_list {
list-style: none;
}

.navbar_list li {
padding:8px;
}

.remaining {
  display: flex;
  margin-left: 260px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.contentbox {
  padding: 20px;
  margin-top:10px;
  margin-bottom:10px;
}

.indexline {
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

#bottbutts{
    justify-content: space-around;
}
 
#trans div {
  margin: 5px;
  font-size: 1em;
}

  hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#1d2d47;
  height: 1px;
}

.trans_container {
min-width: 1000px;
}

.transcard{
table-layout: fixed;
text-align: center;

}
#landing_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#landing_container a {
font-size: 2em;
color: white;
}

#landing_container img {
margin-right:30px;
}

#landing_container a:hover {
color: #1d2d47;
}
  .flex_column {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-end;
    height: 40%;
} 
.wrapper {
				width: 200px;
			}
			
.progress-bar {
				width: 100%;
				background-color: #e0e0e0;
				padding: 3px;
				border-radius: 3px;
				box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
			}
			
.progress-bar-fill {
				display: block;
				height: 22px;
				background-color: #758698;
				border-radius: 3px;
				transition: width 500ms ease-in-out;
			}
#sidebar {
text-align: center;
max-width: 30%;
align-self: flex-start;
margin-left:10px;
margin-right:10px;
}

#sidebar img {
padding: 25px;
}

