body {
background-color: #606060;
}

.flex-aligner{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.flexbox{
margin: 20px;
border: solid;
padding: 40px;
box-shadow: 3px 3px 3px Black;
background-color: white;
}
