
<div class='contentbox'>
  <h2> Edit tag </h2>
  <form action='/tags/<%= @tag.id%>/edit' method='POST'>
    <label for='name'> Name: </label>
    <input type='text' pattern=".{3,15}" required title="3 to 15 characters" name='name' id='name'>
    <input type='submit' value ='Update'>
  </form>
</div>

