<div class='contentbox'>
<h1>List of Tags</h1>
  <% @tags.each do |tag| %>
    <div class='indexline'>
    <%= tag.name %><br>
      <a id = 'mag' href='/tags/<%=tag.id%>'><img width=25px src='/assets/mag.svg'></a></td>
    </div>
  <% end %>
  <hr></hr>
  <div class='indexline' id='bottbutts'>
    <a href='tags/new'> <h3>ADD TAG</h2></a>
  </div>
</div>
