
<div class='contentbox'>
  <h2> Edit tag </h2>
  <form action='/tags/<%= @tag.id%>/edit' method='POST'>
    <label for='name'> Name: </label>
    <input value='<%= @tag.name %>' type='text' pattern=".{3,20}" required title="3 to 20 characters" name='name' id='name'>
    <input type='submit' value ='Update'>
  </form>
  <div class = 'indexline' id='bottbutts'> 
    <form action = '/tags', method='GET'>
        <input width = 30px type = 'image' src='/assets/back.png'>
      </form>
  </div>
</div>

