
<div class='contentbox'>
  <h2> Edit budget </h2>
  <form action='/budgets/<%= @budget.id%>/edit' method='POST'>
    <label for='maxspend'> Amount: </label>
    <input value='<%= @budget.maxspend %>' type='number' name='maxspend' id='maxspend'>
    <select name='tag_id'>
    <% @tags.each do |tag|%>
      <option <% "selected" if @budget.tag_id == tag.id %> value='<%=tag.id%>'><%=tag.name%></option>
    <% end %>
    <input type='submit' value ='Update'>
  </form>
  <div class = 'indexline' id='bottbutts'> 
    <form action = '/budgets', method='GET'>
        <input width = 30px type = 'image' src='/assets/back.png'>
      </form>
  </div>
</div>

