<div class = contentbox>
  <table class = transcard>
    <tr>
      <td>Amount: <%= @budget.maxspend %></td>
      <td>Catagory: <%= Tag.find(@budget.tag_id).name %></td>
    </tr>
  </table>
  <hr></hr>
  <div class = 'indexline' id='bottbutts'> 
      <form action = '/budgets', method='GET'>
        <input width = 30px type = 'image' src='/assets/back.png'>
      </form>
      <form action = '/budgets/<%=@budget.id%>/delete', method='POST'>
        <input  width = 30px type = 'image' src='/assets/trashcan.svg'>
      </form>
      <form action = '/budgets/<%=@budget.id%>/edit', method='GET'>
        <input width = 30px type = 'image' src='/assets/edit.svg'>
      </form>
  </div>
</div>
